body {
    background-color: darkturquoise;
}

header {
    background-color: deeppink;
    text-align: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: gold;
    width: 99%;
}

div {
    width: 60%;
    margin: 25px;
}

.form-input {
    width: 80%;
    height: 25px;
    float: right;
}

#form-submit {
    text-align: center;
}